<div class="container">

    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 ">
            <a [routerLink]="['schools']" class="">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/school-bg.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title bg-dark p-2">ESCOLAS</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-100 m-1"></div>
        <div class="col-md-6  ">
            <a [routerLink]="['classrooms'] " class=" ">
                <div class="card bg-dark text-white ">
                    <img class="card-img img-fluid " src="../../../assets/img/classroom-bg.jpg " alt="Card image ">
                    <div class="card-img-overlay ">
                        <h1 class="card-title bg-dark p-2">TURMAS</h1>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>