<div class="container ">
    <h2>
        {{operation ? 'Criar Escola' : 'Editar Escola'}}
        <a [routerLink]="['/schools']" class="btn btn-primary "><img src="../../../../assets/icons/arrow-thick-left.svg" class="icon" alt="icon name" />Voltar</a>
    </h2>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [ngModel]="school.id" name="id" disabled>
        </div>
        <div class="form-group">
            <label for="">Nome</label>
            <input type="text" class="form-control" [ngModel]="school.name" name="name" required>
        </div>
        <div class="form-group">
            <label for="">Endereço</label>
            <input type="text" class="form-control" [ngModel]="school.address" name="address" required>
        </div>
        <div class="form-group">
            <label for="">CNPJ</label>
            <input type="text" class="form-control" [ngModel]="school.cnpj" name="cnpj" required>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary mr-3 mb-3 col-12 col-sm-6">Salvar</button>
            <a [routerLink]="['/schools']" class="btn btn-secondary col-12 col-sm-6">Cancelar</a>
        </div>


    </form>
    <div class=" row mb-3">
        <button *ngIf="!operation" (click)="onDelete(school.id)" class="btn btn-danger col-12 col-sm-6"><img src="../../../../assets/icons/trash.svg" alt="icon name" class="icon"/></button>
    </div>
    <div *ngIf="!operation">
        <h3>Turmas</h3>
        <div class="table-responsive-sm">
            <table class="table table-striped ">
                <thead>
                    <th>Codigo</th>
                    <th>Fun/Med</th>
                    <th>Série</th>
                    <th>Turma</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let classroom of classroomList">
                        <td>{{ classroom.id }}</td>
                        <td>{{ classroom.grade }}</td>
                        <td>{{ classroom.year }}</td>
                        <td>{{ classroom.class }}</td>
                        <td>
                            <a [routerLink]="['/classrooms/edit',classroom.id]" class="btn btn-primary"><img src="../../../../assets/icons/pencil.svg" class="icon" alt="icon name" /></a>
                        </td>
                        <td><button (click)="onDelete(classroom.id)" class="btn btn-danger"><img  src="../../../../assets/icons/trash.svg" class="icon" alt="icon name"/></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>